.col-opt{
    position:absolute;
    top:100%;
    z-index:1;
    width:max-content;
    left:0;
    display:none;
    gap:0.5rem;
    padding:0.5rem;
    flex-direction:column;
    font-weight:bold;
    background-color:#FFFFFF;
}

.col-opt.active{
    display:flex;
}

.col-opt li{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:3px;
}

.col{
    display:inline-block;
    width:1rem;
    aspect-ratio:1/1;
    border-radius:50%;
    z-index:-1;
}

.grey-scale{
    --primary-color:#3C3C3C;
    --secondary-color:#C3C3C3;
    background-color:#3C3C3C;
}

.fountain-blue{
    --primary-color:#5EBEC4;
    --secondary-color:hsl(220, 10%, 95%);
    background-color:#5EBEC4;
}

.fresh-citrus{
    --primary-color: hsl(90, 70%, 50%); 

    --accent-Color: hsl(40, 100%, 50%);

    --background-color: hsl(180, 10%, 98%);
    background-color:var(--primary-color);
}

.tropical-paradise{
    --primary-color: hsl(160, 60%, 45%);

    --accent-color: hsl(45, 100%, 50%);

    --background-color: hsl(220, 10%, 95%);
    background-color:var(--primary-color);
}

.berry-bliss{
    --primary-color: hsl(300, 60%, 50%);

    --accent-color: hsl(0, 100%, 50%);

    --background-color: hsl(240, 5%, 95%);
    background-color:var(--primary-color);
}

.orchard-harvest{
    --primary-color: hsl(45, 60%, 50%);

    --accent-color: hsl(120, 100%, 50%);

    --background-color: hsl(60, 5%, 95%);
    background-color:var(--primary-color);
}

.sunset-serenity{
    --primary-color: hsl(20, 70%, 50%);

    --accent-color: hsl(330, 100%, 50%);

    --background-color: hsl(30, 10%, 95%);
    background-color:var(--primary-color);
}

.primary-bg{
    color:var(--secondary-color);
    background-color:var(--primary-color);
}

.secondary-bg{
    color:var(--primary-color);
    background-color:var(--secondary-color);
}