.games{
    display:flex;
    justify-content:center;
}

.game-info{
    display:flex;
    gap:1rem;
    max-width:100ch;
}

.game-title{
    font-size:1.75rem;
    margin-block:0.5rem 1rem;
    width:fit-content;
    height:1rem;
}

.game-img{
    height:10rem;
    border-radius:12px;
}

.game-img:hover{
    outline:2px solid #990;
}

.games-text{
    line-height:1.5rem;
}