.game-info{
    display: grid;
    place-content: center;
}

.grid-section{
    display:flex;
    gap:1rem;
    width:95ch;
}

.game-title{
    font-size:1.75rem;
    margin-block:0.5rem 1rem;
    width:fit-content;
    height:1rem;
}

.game-img{
    height:10rem;
    width:15rem;
    border-radius:12px;
}

.game-img:hover{
    outline:2px solid #990;
}

.games-text{
    line-height:1.5rem;
}

@media (max-width:500px) {
    .grid-section{
        flex-direction: column;
        width:40ch;
    }
}