* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain {
  max-width: 100vw;
  max-height: 100vh;
}

.test {
  background-color: black;
}
