/*@import "root.css";
@import "reset.css";
@import "body.css";
@import "container.css";
@import "header.css";
@import "colors.css";
@import "main.css";
@import "footer.css";
@import "bg-img.css";
@import "underline.css";*/

/*-----ROOT-----*/
:root{
  --primary-color:#3c3c3c;
  --primary-dark:#1e1e1e;
  --secondary-color:#c3c3c3;
  --secondary-light:#e1e1e1;
  --accent-color:#990;
  
  --border-radius:12px;
  
  --transition-time:500ms;
  
  --light1-padding:3px;
  --light2-padding:6px;
  --medium1-padding:12px;
  --medium2-padding:18px;
  --heavy1-padding:24px;
  --heavy2-padding:30px;
  --heavy3-padding:36px;
  --heavy4-padding:42px;
  --heavy5-padding:48px;

  --heavy6-padding:100px;
}

/*-----RESET-----*/
*,*::before,*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color:inherit;
  cursor:pointer; 
}

li{
  list-style: none;
}

/*-----BODY-----*/
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  font-size:16px;
  perspective: 0px;
  perspective-origin: 0 0;
}

html{
  scroll-behavior: smooth;
}

@media (max-width:500px){
  body{
    width:100vw;
    display:flex;
  }
}

/*-----CONTAINER-----*/
.container{
  transform-style: preserve-3d;
}

@media (max-width:500px){
  .container{
    width:100%;
    overflow: hidden;
  }
}

/*-----CONTAINER-----*/
.container{
  transform-style: preserve-3d;
}

@media (max-width:500px){
  .container{
    width:100%;
    overflow: hidden;
  }
}

/*-----HEADER-----*/
.nav{
  font-size:12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:var(--light2-padding) var(--medium1-padding);
  position:relative;
}

.logo{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:1rem;
}

.logo-svg{
  background-color:var(--primary-color);
  width:1.95rem;
  aspect-ratio:1/1;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.logo-text{
  fill:var(--secondary-color);
  font-weight:bold;
  text-anchor:middle;
  
}

.col-select{
  background-color: var(--primary-color);
  width:1.95rem;
  aspect-ratio:1/1;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  cursor:pointer;
}

.col-select-text{
  font-weight:bold;
  color:var(--secondary-color);
}

.ham-bar-svg{
  display:none;
  cursor:pointer;
}

.link-list{
  display: flex;
  gap:var(--medium1-padding);
  color:var(--primary-color);
}

.link{
  padding:var(--light1-padding) 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.highlight{
  background-color:var(--primary-color);
  color:var(--secondary-color);
  border-radius:999px;
}

.highlight:hover{
  outline:2px solid var(--accent-color);
}

.highlight:hover .underline-alt{
  background-size:100% 2px;
}

.hero{
  background: url(../img/marek-piwnicki-78oufSOElMk-unsplash.jpg) var(--primary-color);
  background-blend-mode:multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  color:var(--secondary-color);
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:var(--heavy6-padding);
  padding-block:calc(var(--heavy6-padding) * 2);
  box-shadow: 0 var(--light1-padding) var(--medium1-padding) var(--primary-dark) inset;
  perspective: 0px;

}

.banner-text{
  font-size:clamp(var(--heavy2-padding),5vw,var(--heavy6-padding));
  border:var(--light1-padding) solid var(--secondary-color);
  padding:var(--heavy2-padding);
  box-shadow:0 var(--light1-padding) var(--light2-padding) var(--primary-dark);
  animation: stutter1 0.8s ease-out forwards;
}

.cta-btn{
  display: block;
  background-color:var(--secondary-color);
  color:var(--primary-color);
  border:none;
  font-size:var(--heavy1-padding);
  font-weight:bold;
  padding:var(--light1-padding) var(--light2-padding);
  border-radius:var(--border-radius);
  box-shadow:0 3px var(--light1-padding) var(--primary-dark);
  transform: translateZ(1px);
  cursor:pointer;
}

@keyframes stutter1{
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  60% {
    opacity: 1;
    transform: translateY(0) scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes stutter2{
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  60% {
    opacity: 1;
    transform: translateY(0) scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (max-width:500px){
  .link-list{
    position: absolute;
    flex-direction: column;
    background-color:var(--secondary-color);
    padding-block:var(--heavy1-padding);
    width:100%;
    top:100%;
    left:200vw;
    z-index: 1;
    transition: var(--transition-time);
  }
  
  .ham-bar-svg{
    display: block;
  }
  
  .top-ham-active {
    transform: translate(-6px,calc(50%  - 5.5px)) rotate(45deg);
  }

  .middle-ham-active {
    display:none;
  }
  
  .bottom-ham-active {
    transform: translate(-6px,calc(-50% + 5.5px)) rotate(-45deg);
  }
  
  .ham-active {
    left: 0;
  }
  
  .banner-text{
    font-size:var(--heavy1-padding);
    animation: stutter2 5s linear forward;
  }
}

/*-----COLORS-----*/
.col-opt{
    position:absolute;
    top:100%;
    z-index:1;
    width:max-content;
    left:0;
    display:none;
    gap:0.5rem;
    padding:0.5rem;
    flex-direction:column;
    font-weight:bold;
    background-color:#FFFFFF;
}

.col-opt.active{
    display:flex;
}

.col-opt li{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:3px;
}

.col{
    display:inline-block;
    width:1rem;
    aspect-ratio:1/1;
    border-radius:50%;
    z-index:-1;
}

.grey-scale{
    --primary-color:#3C3C3C;
    --secondary-color:#C3C3C3;
    background-color:#3C3C3C;
}

.fountain-blue{
    --primary-color:#5EBEC4;
    --secondary-color:hsl(220, 10%, 95%);
    background-color:#5EBEC4;
}

.fresh-citrus{
    --primary-color: hsl(90, 70%, 50%); 

    --accent-Color: hsl(40, 100%, 50%);

    --background-color: hsl(180, 10%, 98%);
    background-color:var(--primary-color);
}

.tropical-paradise{
    --primary-color: hsl(160, 60%, 45%);

    --accent-color: hsl(45, 100%, 50%);

    --background-color: hsl(220, 10%, 95%);
    background-color:var(--primary-color);
}

.berry-bliss{
    --primary-color: hsl(300, 60%, 50%);

    --accent-color: hsl(0, 100%, 50%);

    --background-color: hsl(240, 5%, 95%);
    background-color:var(--primary-color);
}

.orchard-harvest{
    --primary-color: hsl(45, 60%, 50%);

    --accent-color: hsl(120, 100%, 50%);

    --background-color: hsl(60, 5%, 95%);
    background-color:var(--primary-color);
}

.sunset-serenity{
    --primary-color: hsl(20, 70%, 50%);

    --accent-color: hsl(330, 100%, 50%);

    --background-color: hsl(30, 10%, 95%);
    background-color:var(--primary-color);
}

.primary-bg{
    color:var(--secondary-color);
    background-color:var(--primary-color);
}

.secondary-bg{
    color:var(--primary-color);
    background-color:var(--secondary-color);
}

/*-----MAIN-----*/
.main{
  background-color: var(--secondary-color);
  color:var(--primary-color);
}

.section{
  padding:var(--heavy5-padding) var(--medium2-padding);
}



.small-text-size{
  font-size:var(--light2-padding);
}

.medium-text-size{
  font-size:var(--medium2-padding);
}

.large-text-size{
  font-size:var(--heavy2-padding);
}

.section-title,.section-text{
  font-weight:bold;
  line-height: var(--heavy3-padding);
}

.section-text{
  margin-inline:auto;
  max-width:75ch;
}

.section-title{
  text-align: center;
  padding-bottom: var(--medium2-padding);
}

.section-title {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
}
.section-text {
  font-size: clamp(1rem, 1.2vw + 0.5rem, 1.25rem);
}

/*-----FOOTER-----*/
.footer{
  background-color:var(--primary-dark);
  color:var(--secondary-light);
}

/*-----BG-IMG-----*/
.bg-img-container{
    overflow:hidden;
    position:relative;
}

.bg-img{
    position:absolute;
    bottom:50%;
    transform:translateY(50%);
    width:100%;  
}

.bg-img-filter{
    position:absolute;
    inset:0;
    background-color: var(--primary-color);
    opacity:0.7;
}

/*-----UNDERLINE-----*/
.underline{
  background:linear-gradient(var(--primary-color));
  background-size:0% 2px;
  background-position:bottom center;
  background-repeat:no-repeat;
  transition:300ms ease-in-out;
  padding-block:1px;
}

.underline:hover{
  background-size:100% 2px;
}

.underline-alt{
  background:linear-gradient(var(--secondary-color));
  background-size:0% 2px;
  background-position:bottom center;
  background-repeat:no-repeat;
  transition:200ms ease-in-out;
  padding-block:1px;
}

.underline-alt:hover{
  background-size:100% 2px;
}