footer{
  padding-block:3rem;
  background-color: var(--background-color);
  color:var(--secondary-color);
}
footer h3{
  text-align: center;
  margin-bottom:2rem;
  font-size:2rem;
}
footer .contact{
  padding-inline:1rem;
}