.margin-auto{
  margin-inline:auto;
}

.max-width{
  max-width:1000px;
}

.ico{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width:3rem;
  aspect-ratio:1/1;
  border-radius:100%;
  margin-right: 0.5rem;
  background-color: black;
}