main{
  --padding:5rem 1rem 5rem;
  
  line-height: 1.5rem;
  min-width:600px;
}

main .article{
  background-color:var(--background-color2);
  color:var(--primary-color);
  padding: var(--padding);
}
main .article2{
  background-color:var(--background-color2);
  color:var(--primary-color);
  padding: var(--padding);
  padding-top:0;
}
main article h2{
  text-align: center;
  padding-block:3rem 4rem;
}
main .reasons{
  background-color: #0003;
  padding: 1rem 0.5rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 3px #000c;
  max-width:125ch;
  margin-inline:auto;
}
main .benefits{
  margin-inline:1rem;
}
main .benefits.bubble li{
  background-color: #0004;
  padding:1rem;
  border-radius: 1rem;;
}
main .benefits li{
  margin-top:1rem;
}
main .intro{
  padding:1rem;
}
main .outro{
  margin-top:2rem;
  padding:1rem;
}
main .process>li{
  margin-top:1rem;
  background-color: #fff1;
  padding:1rem;
}
main .list{
  margin-top:2rem;
}
main .list li{
  list-style-type:disc;
}
main .cta{
  display:grid;
  place-items: center;
  padding-block: 5rem;
  background-color: lightblue;
}
main .cta button{
  padding:1rem 1.5rem;
  border-radius:9999rem;
  color:var(--primary-color);
  background-color: var(--background-color);
  border:3px solid var(--primary-color);
}
main .cta button:hover{
  color:var(--accent-color);
  border:3px solid var(--accent-color);
}
main .final{
  padding:5rem 1rem;
  background-color: var(--background-color2);
  color: var(--primary-color);
}
main .final a:hover{
  text-decoration:underline;
}
main .final p{
  padding:1rem;
}

